<app-navbar></app-navbar>
<app-carousel></app-carousel>
<app-continue-carousel></app-continue-carousel>
<app-com-carousel [dataReceived]="popMovMessage"></app-com-carousel>
<app-com-carousel [dataReceived]="ratedMovMessage"></app-com-carousel>
<app-com-carousel [dataReceived]="trendingMovMessage"></app-com-carousel>
<app-com-carousel [dataReceived]="popTVMessage"></app-com-carousel>
<app-com-carousel [dataReceived]="ratedTVMessage"></app-com-carousel>
<app-com-carousel [dataReceived]="trendingTVMessage"></app-com-carousel>
<app-footer></app-footer>
