*{
  color: white;
}

.background{
  width: auto;
  height: 100%;
  text-align: center;
  min-height: 1000px;
  padding-top: 50px;
  background-color: rgb(5, 15, 70);
}

.info{
  width: 1200px;
  margin: auto;
  height: 440px;
  display: grid;
  grid-template-columns: 70% 30%;
}

.infoContainer{
  height: 440px;
  text-align: left;

}

.infoContainer h1{
  font-size: 42px;
  font-weight: 400;
}

.infoContainer h2{
  font-size: 22px;
  font-weight: 250;
  line-height: 150%;
}

.genres span{
  color: rgb(140, 140, 160);
}


.language span{
  color: rgb(140, 140, 160);
}

.tagline{
  font-style: italic;
  font-weight: 200;
}

.addButton{
  background-color: rgb(0, 120, 240);
  width: 220px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
  font-size: 20px;
}

.addButton:hover{
  cursor: pointer;
}

.removeButton{
  background-color: rgb(0, 120, 240);
  width: 220px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
  font-size: 20px;
}

.removeButton:hover{
  cursor: pointer;
}

.removed{
  float: left;
  position: absolute;
  height: 55px;
  width: 370px;
  background-color: rgb(238, 209, 209);
  color: rgb(47, 1, 1);
  line-height: 55px;
  padding-left: 20px;
  font-size: 20px;
  margin-top: 50px;
  border-radius: 3px;
  -webkit-animation: cssAnimation 5s forwards;
  animation: cssAnimation 5s forwards;
}

.added{
  float: left;
  position: absolute;
  height: 55px;
  width: 370px;
  background-color: rgb(198, 234, 198);
  color: rgb(1, 40, 1);
  line-height: 55px;
  padding-left: 20px;
  font-size: 20px;
  margin-top: 100px;
  border-radius: 3px;
  -webkit-animation: cssAnimation 5s forwards;
  animation: cssAnimation 5s forwards;
}

@keyframes cssAnimation {
  0%   {opacity: 1;}
  85%  {opacity: 1;}
  90%  {opacity: 0.8;}
  95%  {opacity: 0.4;}
  100% {opacity: 0;}
}

.removeCloseBtn{
  float: right;
  height: 55px;
  width: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 3px;
  color: rgb(47, 1, 1);
}

.removeCloseBtn:hover{
  cursor: pointer;
}

.addCloseBtn{
  float: right;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  border-radius: 3px;
  color: rgb(1, 40, 1);
}

.addCloseBtn:hover{
  cursor: pointer;
}

.descriptionContainer{
  margin: 20px auto 0px;
  height: 140px;
  width: 1200px;
  text-align: left;
  padding-left: 40px;
  font-size: 24px;
}

.overviewContainer{
  font-size: 18px;
  color: rgb(140, 140, 160);
  margi-top: 10px;
}

.shareContainer{
  margin: auto;
  height: 120px;
  width: 1200px;
  text-align: left;
  padding-left: 40px;
  font-size: 24px;
}

.twitterContainer{
  height: 50px;
  width: 60px;
  object-fit: cover;
  float: left;
}

.twitterContainer img{
  height: 50px;
  width: 60px;
}

.facebookContainer{
  height: 50px;
  width: 50px;
  object-fit: cover;
  float: left;
  margin-left: 15px;
}

.facebookContainer img{
  height: 50px;
  width: 50px;
  border-radius: 10px;
}

.cast{
  height: 520px;
  margin-top: 20px;
}

.castBanner{
  margin-left: 50px;
  margin-bottom: 20px;
}

.castContainter{
  height: 520px;
  width: 1270px;
  margin: auto;
  text-align: left;
  font-size: 32px;
}

.castCardShow{
  height: 420px;
}

.castUl{
  display: block;
  list-style: none;
  overflow: scroll;
  white-space:nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.castLink:hover{
  text-decoration: none;
}

.castLi{
  width: 200px;
  height: 400px;
  display: inline-block;
  margin-left: 15px;
  border-radius: 20px;
  overflow: hidden;
}

.castLi:hover{
  cursor: pointer;
}

.photoContainer{
  width: 200px;
  height: 300px;
  margin: auto;
}

.photoContainer img{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.castInfoContainer{
  height: 100px;
  width: 200px;
  background-color: white;
  text-align: center;
  font-size: medium;
  color: black;
  white-space:normal;
  word-break:break-word;
  overflow:hidden;
}

.castInfoContainer span{
  background-color: white;
  font-weight: bolder;
  color: black;

}

.review{
  width: 1270px;
  margin: 20px auto;
  min-height: 320px;
}

.reviewBanner{
  width: auto;
  height: 50px;
  text-align: left;
  font-size: 32px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.reviewBanner span{
  color: rgb(170, 170, 170);
}

.reviewUl{
  list-style: none;
}

.reviewLi{
  height: 280px;
  width: 1180px;
  margin-top: 20px;
  background-color: white;
  border-radius: 20px;
}

.picContainer{
  height: 100px;
  width: 100px;
  float: left;
  margin-left: 50px;
  margin-top: 30px;
  border: none;
  border-radius: 50%;
}

.picContainer img{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.contentContainer{
  height: 280px;
  width: 1000px;
  float: right;
  text-align: left;
  background-color: white;
  color: black;
  border-radius: 20px;
}

.userContainer{
  height: 100px;
  width: auto;
}

.userContainer span{
  padding-top: 20px;
  font-size: 22px;
  line-height: 40px;
  float: left;
  color: black;
}

.starBox{
  margin-top: 20px;
  height: 40px;
  width: 60px;
  background-color: black;
  border-radius: 30px;
  line-height: 40px;
  font-size: 22px;
  margin-left: 40px;
  float: left;
  font-weight: 200;
  text-align: center;
}


.timeContainer{
  height: 30px;
  width: auto;
}

.timeContainer span{
  color: rgb(170, 170, 170);
}

.reviewContent{
  height: 90px;
  width: auto;
}

.reviewContent p{
  color: black;
}

.reviewBtn{
  height: 60px;
  width: auto;
  line-height: 60px;
}

.reviewBtn a{
  color: rgb(6, 44, 238);
  text-decoration: underline;
}

.reviewContent{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 30px;
}


.carouselBanner{
  width: auto;
  height: 100px;
  font-size: xxx-large;
  color: white;
  text-align: left;
  padding-left: 200px;
}

.carouselContainer{
  height: 500px;
  width: 1700px;
  margin: auto;
  background-color: rgb(5, 15, 70);
}

.carouselContainer img{
  height: 300px;
  width: 200px;
  max-width: 200px;
  max-height: 300px;
  object-fit:cover;
}

.cardContainer{
  height: 300px;
  width: 200px;
  overflow: hidden;
  position: relative;
}

.carousel.slide{
  height: 360px;
}

.carousel.slide:focus{
  outline: none;
}

.cardsContainer{
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 300px;
  width: 1350px;
}

.fourthCardsContainer{
  margin: auto;
  display: flex;
  justify-content: flex-start;
}

.cover{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 300px;
}

.cardContainer:hover .cover{
  display: unset;
  background-image: linear-gradient(to top,black 15%, transparent);
  transform: scale(1.1);
}

.cardContainer:hover img{
  transition-duration: 0.5s;
  transform: scale(1.1);
}

.coverWord{
  position: absolute;
  bottom: 20px;
  margin-left: 20px;
  color: white;
  font-size: medium;
  text-align: left;
}

#castDetailPage{
  width: 900px;
  height: auto;
  min-height: 500px;
  background-color: white;
  position: fixed;
  z-index: 999;
  margin:auto;
  left:0;
  right:0;
  top:20%;
  border-radius: 5px;
}

.closeDetail{
  margin: auto;
  line-height: 60px;
  float: right;
  height: 60px;
  width: 60px;
  color: black;
}

.closeDetail:hover{
  cursor: pointer;
}

.castname{
  line-height: 60px;
  font-size: 26px;
  color: black;
  font-weight: 400;
  padding-left: 10px;
  float: left;
}

.detailHr{
  margin-top: 60px;
  margin-bottom: 0px;
  align-content: center;
  width: auto;
}

.detailPic{
  height: 320px;
  width: 230px;
  float: left;
  text-align: center;
  padding-top: 20px;
}

.detailPic img{
  height: 300px;
  width: 200px;
  max-width: 200px;
  max-height: 300px;
  object-fit:cover;
}

.detailContent{
  height: 320px;
  width: 670px;
  float: right;
  padding-top: 20px;
}

.detailContent p{
  text-align: left;
  color: black;
  font-size: 16px;
  line-height: 100%;
}

.detailContent span{
  text-align: left;
  color: black;
  font-size: 16px;
}

.castWeb{
  text-align: left;
  font-size: 16px;
  color: rgb(56, 120, 241);
}

.socialIcon{
  float: left;
  height: 30px;
  width: 30px;
  margin-right: 30px;
  font-size: 50px;
}

.castBio{
  margin-top: 30px;
  width: 900px;
  height: auto;
  text-align: left;
  padding: 30px 30px 30px 30px;
}

.castBio span{
  font-size: 34px;
  color: black;
  font-weight: bold;
}

.castBio p{
  font-size: 16px;
  color: black;
}
